# Rust derleme ciktilari
target/
**/target/
Cargo.lock.bak

# Editor / OS
.~lock.*#
.DS_Store
*.swp

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

**/target